[user]
	email = ankitkumarroy2007@gmail.com
	name = AnkitRoyy
[credentials]
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
