[Unit]
Description=daily ubuntu system backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/home/%u/config-hell/scripts/backup.sh
StandardOutput=journal
StandardError=journal
SyslogIdentifier=dotbackup

[Install]
WantedBy=default.target
